{% extends 'index_template.html' %}

{% block content %}
<article class="main">
    <div class="label mb-3">
        {{ title }}
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Название сорта</th>
                    <th>Назначение</th>
                    <th>Цвет ягоды</th>
                    <th>Морозостойкость</th>
                    <th>Тип цветка</th>
                    <th>Срок</th>
                    <th>Фото</th>
                </tr>
            </thead>
            <tbody>
                {% for grape in data %}
                <tr align="center">
                    <td>
                        <a href="{% url 'sort_detail' grape.pk %}">
                            <h5 class="mb-1">{{ grape.name }}</h5>
                        </a>
                        Синонимы: <span style="color:green; font-size:12px;">{{ grape.alias }}</span>
                    </td>
                    <td>{{ grape.get_naznacn_display }}</td>
                    <td>{{ grape.br_color }}</td>
                    <td>{{ grape.frozen_re }}</td>
                    <td>{{ grape.get_type_fl_display }}</td>
                    <td>{{ grape.srok }}</td>
                    <td>
                        <img src="/files/{{ grape.img_url }}" class="img-fluid" alt="{{ grape.name }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center mt-3">
        <input type="button" onclick="history.back();" value="Вернуться на предыдущую страницу" class="btn btn-primary"/>
    </div>
</article>

{% endblock %}

{% block left %}
{% include 'main/enter.html' %}
{% endblock %}