body {
    background-color: #1a625b82;
}

footer {
    background: linear-gradient(to right, #cccccc, #aaaaaa, #333333); /* Фиолетовый градиент */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
     background: linear-gradient(to right, #cccccc, #aaaaaa, #333333); /* Фиолетовый градиент */
}
.custom-rounded {
        border-radius: 5px; /* Установите нужное значение радиуса */
    }
.custom-margin {
        margin: 5px; /* Установите нужное значение отступа */
    }
p {
 text-indent: 20px;
 padding: 5px 0px;
 text-align: justify;
}

#text {
  text-indent: 20px;
  width: 100%;
  margin: 5px 0px 5px 0px;
  padding: 5px 15px 5px 15px;
  font-family: Verdana, Helvetica, sans-serif,  Arial,"Times New Roman";
  font-style: italic;
  text-align: justify;
}

#clock {
            font-size: 0.8rem;
            font-family: Arial, sans-serif;
            text-align: center;

        }
/* Стили для выравнивания изображения */
.image-style-align-left {
    float: left;
    margin-right: 1em;
}

.image-style-align-right {
    float: right;
    margin-left: 1em;
}

.image-style-full {
    width: 100%;
    height: auto;
}

/* Стили для измененных размеров */
.image_resized {
    max-width: 100%;
    height: auto;
}

/* Сохранение соотношения сторон */
img {
    aspect-ratio: attr(width) / attr(height);
}
figure {
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
    display: inline-block; /* Для корректного выравнивания */
}

/* Адаптивные изображения */
img {
    max-width: 100%;
    height: auto;
}

/* Адаптивная таблица */
.table-responsive {
    overflow-x: auto;
}

/* Адаптивная пагинация */
.pagination {
    flex-wrap: wrap;
}

/* Адаптивная форма */
.form-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
