{% extends 'index_template.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4  bg-tertiary" style="width: 100%; max-width: 400px;">
        <h2 class="card-title text-center mb-4">Авторизация</h2>
        <form method="post">
            {% csrf_token %}
            <!-- Поле для имени пользователя -->
            <div class="mb-3">
                <label class="form-label">Имя пользователя</label><br>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-danger">
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
           <!-- Поле для пароля -->
            <div class="mb-3">
                <label class="form-label">Пароль</label><br>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="text-danger">
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <!-- Кнопка отправки формы -->
            <button type="submit" class="btn btn-primary w-100">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a></p>
        <p>Забыли пароль? <a href="{% url 'password_reset' %}">Восстановить</a></p>
    </div>
</div>


{% endblock %}