{% extends 'index_template.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4  bg-secondary" style="width: 100%; max-width: 400px;">
        <h2 class="card-title text-center mb-4">Регистрация</h2>
        <form method="POST">
            {% csrf_token %}
            <!-- Поле для имени пользователя -->
            <div class="mb-3">
                <label class="form-label">Имя пользователя</label><br>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <!-- Поле для электронной почты -->
            <div class="mb-3">
                <label class="form-label">Электронная почта</label><br>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <!-- Поле для пароля -->
            <div class="mb-3">
                <label class="form-label">Пароль</label><br>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <!-- Поле для подтверждения пароля -->
            <div class="mb-3">
                <label class="form-label">Подтвердите пароль</label><br>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>

            <!-- Кнопка отправки формы -->
            <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
        </form>
    </div>
</div>


{% endblock %}