{% extends 'index_template.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4  bg-tertiary" style="width: 100%; max-width: 400px;">
        <h2 class="card-title text-center mb-4">Сброс пароля</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <!-- Кнопка отправки формы -->
            <button type="submit" class="btn btn-primary w-100">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}