{% extends 'index_template.html' %}

{% block content %}
<article class="main">
<section>
   Редактирование записи в таблице ПОДКОРМКИ<br>
    посадочное место: <span style="color:green; font-weight:bold; font-style:italic;">{{ location }}</span>
<hr>
<form method="post" action="" enctype="multipart/form-data">
     {% csrf_token %}
        {{ form.as_p }}
     <p>
       <button type="submit">Сохранить</button>
     </p>
</form>

</section>
</article>
{% endblock %}

{% block left %}
{% include 'jornal/left.html' %}
{% endblock %}>